<%= render 'shared/titleLink' , link: link_to(@style.name, styles_path) %>
<div class="row">
	<div class="col-md-8">
		<%= link_to("Delete", @style, method: :delete, class: "btn btn-success pull-right" , data: { confirm: "You sure?" })  if logged_in? && current_user.admin? %>
	</div>
	<br><br>
</div>
<%= render 'shared/indexRecipes'%>
<hr/>